nav .navbar .navbar-default {
  margin-bottom: 0;
  
}

.navbar {

  background-color:darkslategray !important;
  font-size: 25px;
  color: whitesmoke;

}



li a {
  font-size: 35px
}

.white{

  color: aliceblue;
}

h1, p{
  font-size: 90px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

.jumbotron { 

background-color: black;
margin-top: 50px;

}